<%
function computeFilterValues(items, key) {
  return items.map(item => ({
    key: item.key,
    value: key+':'+item.key,
    count: item.doc_count
  }));
}

%>

<div data-init="initFirstResult">
  <form id="search" name="events" action="<%= APP_ROOT %>/events" method="get">

    <div class="form-inline">

      <div class="form-group form-inline col-md-3">

          <label class="p-1" for="start">Du</label>
          <input
            id="start"
            name="start"
            type="text"
            data-init="datePicker"
            data-secondField="stop"
            data-form="search"
            class="form-control form-control-sm mb-1"
            value="<%= params.start ? moment(params.start).format('YYYY-MM-DD') : moment().startOf('year').format('YYYY-MM-DD') %>"
            style="width: 90px;"
            >

          <label class="p-1" for="stop">Au</label>
          <input
            id="stop"
            name="stop"
            type="text"
            value="<%= params.stop ? moment(params.stop).format('YYYY-MM-DD') : moment().format('YYYY-MM-DD') %>"
            class="form-control  form-control-sm mb-1"
            style="width: 90px;"
          />
      </div>

        <div class="form-group col-md-7">
        <% if (locals.meta) { %>
          <%- include('../partials/dropdown', {
            name: 'columns[]',
            label: 'Colonnes',
            key: 'columns[]',
            type: 'multiple',
            valueType: 'composed',
            mapping: locals.helpers.MAPPINGS.columns.events,
            values: Object.keys(locals.helpers.MAPPINGS.columns.events).map(item => ({ key: item, value: item })),
          }) %>

          <%- include('../partials/dropdown', { name: 'filters[]',
            label: 'FI',
            key: 'fi',
            type: 'multiple',
            valueType: 'composed',
            values: computeFilterValues(locals.meta.fiList, 'fi')
          }) %>
          <%- include('../partials/dropdown-search', { name: 'filters[]',
            label: 'FS',
            key: 'fs_label.keyword',
            type: 'multiple',
            valueType: 'composed',
            values: computeFilterValues(locals.meta.fsLabelList, 'fs_label.keyword')
          }) %>
          <%- include('../partials/dropdown-search', {
            name: 'filters[]',
            label: 'Catégorie',
            key: 'action',
            type: 'multiple',
            valueType: 'composed',
            values: computeFilterValues(locals.meta.actionList, 'action'),
            mapping: locals.helpers.MAPPINGS.action,
            autosubmit: true
          }) %>
          <%- include('../partials/dropdown-search', {
            name: 'filters[]',
            label: 'Evènement',
            key: 'typeAction',
            type: 'multiple',
            valueType: 'composed',
            values: computeFilterValues(locals.meta.typeActionList, 'typeAction'),
            mapping: locals.helpers.MAPPINGS.typeAction
          }) %>
        <% } %>

          <%- include('../partials/dropdown', {
            name: 'visualize',
            label: 'Vue',
            key: 'visualize',
            type: 'unique',
            valueType: 'plain',
            className: 'warning',
            mandatory: true,
            mapping: locals.helpers.MAPPINGS.visualize,
            values: Object.keys(locals.helpers.MAPPINGS.visualize).map(item => ({ key: item, value: item }))
          }) %>

          <%- include('../partials/dropdown', {
            name: 'granularity',
            label: 'Grain',
            key: 'granularity',
            type: 'unique',
            valueType: 'plain',
            className: 'warning',
            mandatory: true,
            mapping: locals.helpers.MAPPINGS.granularity,
            values: Object.keys(locals.helpers.MAPPINGS.granularity).map(item => ({ key: item, value: item }))
          }) %>


          <%
            const columns = ['date', 'fi', 'fs', 'action', 'typeAction', 'count'];
            const columnValues = columns.map(item => ({key: item, value: item }));
           %>


        </div>




        <div class="col-md-2">
          <button type="submit" id="bouton-filtrer" class="btn btn-sm btn-primary m-1"><i class="fa fa-search"></i></button>
          <a class="" href="<%= APP_ROOT %>/events" title="Réinitialiser"><i class="fa fa-undo"></i></a>

          <% if (locals.stats && stats.length > 0) { %>
          <a class="btn btn-sm btn-outline-info" onclick="document.location = document.location.href.replace('/events?', '/events/csv?');">
            <i class="fa fa-file-excel-o"></i> Export
          </a>
          <% } %>
        </div>

    </div>


    <div
      id="graph-settings"
      class="row d-<%= (params.visualize && params.visualize !== 'list') ? 'inherit' : 'none' %>"
      data-init="graphSetting"
    >
      <div class="col-md-3"></div>
        <div class="form-group form-inline col-md-9">

        <label>Paramètres graphique :</label>

        <% if (params.visualize === 'pie') { %>
          <%- include('../partials/dropdown', {
            name: 'x',
            label: 'comparer périodes ?',
            key: 'x',
            type: 'unique',
            valueType: 'plain',
            className: 'warning',
            values: [{key: 'oui', value: 'date'}],
          }) %>

          <%- include('../partials/dropdown', {
            name: 'y',
            label: 'Valeur',
            key: 'y',
            type: 'unique',
            valueType: 'plain',
            className: 'warning',
            values: columnValues,
          }) %>

        <% } else { %>
          <%- include('../partials/dropdown', {
            name: 'x',
            label: 'x',
            key: 'x',
            type: 'unique',
            valueType: 'plain',
            className: 'warning',
            values: columnValues,
          }) %>

          <%- include('../partials/dropdown', {
            name: 'y',
            label: 'y',
            key: 'y',
            type: 'unique',
            valueType: 'plain',
            className: 'warning',
            values: columnValues,
          }) %>
      <% } %>
      </div>
    </div>


  </form>
</div>
