<!DOCTYPE html>
<html lang="fr">
<head>
    <%- include('partials/head.ejs') -%>
</head>
<body>
<%- include('partials/header.ejs') -%>
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <p class="h2">Stats</p>
            <p><i>Mesure All the things!</i></p>

            <div class="container">
              <%- include('./form.ejs') -%>
            </div>

            <div class="container">
            <% if (locals.meta.error) { %>
                <div id="error-events" class="alert alert-danger">
                  <%= meta.error%>
                </div>
              <% } else if (!params.start || !params.stop) { %>

                <div id="autoload-results" class="d-flex justify-content-center">
                  <h2>Choisissez des dates</h2>
                </div>

              <% } else { %>

                <% if(REQ_QUERY.visualize === 'list') { %>
                  <%- include('./list.ejs') -%>
                <% } else { %>
                  <%- include('./graph.ejs') -%>
                <% } %>
              
              <% } %>
            </div>
        </div>
    </div>
</div>
</body>
</html>
