<!DOCTYPE html>
<html lang="fr">

<head>
  <% include partials/head.ejs %>
</head>

<body>
  <div class="row">
    <div class="col-10 offset-1">
      <% include partials/global-errors-handler.ejs %>
    </div>

  <div class="container">
    <div class="row mb-3">

      <div class="col-lg-12 my-5">
        <p class="h2">Votre configuration TOTP actuelle</p>
      </div>

      <div class="card col-lg-12">
        <div class="card-body">
          <div class="my-5">
            <div class="text-center">
              <div class="d-flex flex-wrap justify-content-center">

                <div class="mx-4 d-flex justify-content-center flex-column">
                  <img src="<%= locals.QRCode %>" alt="Si vous voyez ce message, le QRCode ne s'est pas chargé :'(" />
                </div>

                <div class="mx-4 d-flex justify-content-center flex-column">
                  <p class="font-weight-bold">Saisie manuelle:</p>
                  <table class="text-left table">
                    <tr id="issuer">
                      <th scope="row">Issuer</th>
                      <td class="text-primary"><%= locals.issuer %></td>
                    </tr>
                    <tr id="account">
                      <th scope="row">Account</th>
                      <td class="text-primary"><%= locals.user %></td>
                    </tr>
                    <tr id="secret">
                      <th scope="row">Secret</th>
                      <td class="text-primary"><%= locals.secret %></td>
                    </tr>
                    <tr id="step">
                      <th scope="row">Step</th>
                      <td class="text-primary"><%= locals.step %></td>
                    </tr>
                    <tr id="algorithm">
                      <th scope="row">Algorithm</th>
                      <td class="text-primary"><%= locals.algorithm %></td>
                    </tr>
                  </table>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-12 my-5">
        <p class="h2">Si vous le désirez, vous pouvez changer votre mot de passe</p>
      </div>

      <div class="card col-lg-12">
        <div class="card-body">

          <form action="<%= locals.APP_ROOT %>/account/update-account/<%= locals.CURRENT_USER.username%>?_method=PATCH" method="POST"
            data-init="validateAccountUpdate" novalidate>
            <input type="hidden" name="_csrf" value="<%= locals.csrfToken  %>">

            <div class="form-group row">
              <label class="col-lg-2 col-lg-form-label" for="password">Mot de passe actuel</label>
              <div class="col-lg-10">
                <input id="currentPassword" type="password" required
                  class="form-control <%= locals.messages.errors && messages.errors[0].currentPassword && 'is-invalid' %>"
                  name="currentPassword">
                  <% if (locals.messages.errors && messages.errors[0].currentPassword) { %>
                    <div class="invalid-feedback">
                    <p>
                      <% messages.errors[0].currentPassword.forEach((error) => { %>
                      <%= error %>
                      <br>
                      <% }) %>
                    </p>
                  </div>
                <% } %>
              </div>
            </div>

            <div class="form-group row">
              <label class="col-lg-2 col-lg-form-label" for="password">Votre nouveau mot de passe</label>
              <div class="col-lg-10">
                <input id="password" type="password" required
                  class="form-control <%= locals.messages.errors && messages.errors[0].password && 'is-invalid' %>"
                  name="password" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&,;:])[A-Za-z\d@$!%*?&,;:]{8,}$">
                  <% if (locals.messages.errors && messages.errors[0].password) { %>
                    <div class="invalid-feedback">
                    <p>
                      <% messages.errors[0].password.forEach((error) => { %>
                      <%= error %>
                      <br>
                      <% }) %>
                    </p>
                  </div>
                <% } %>
                <div class="mt-2">
                  <span id="uppercase-icon" class="fa">au moins une majuscule</span>
                  <br>
                  <span id="lowercase-icon" class="fa">au moins une minuscule</span>
                  <br>
                  <span id="special-character-icon" class="fa">au moins un caractère spécial ( @$!%*?&,;: )</span>
                  <br>
                  <span id="number-icon" class="fa">au moins un chiffre</span>
                  <br>
                  <span id="length-icon" class="fa">au moins 8 caratères</span>
                </div>
              </div>
            </div>

            <div class="form-group row">
              <label class="col-lg-2 col-lg-form-label" for="confirm-password">Confirmation de votre nouveau mot de passe</label>
              <div class="col-lg-10">
                <input id="confirm-password" type="password" required
                  class="form-control <%= locals.messages.errors && messages.errors[0].passwordConfirmation && 'is-invalid' %>"
                  name="passwordConfirmation" data-init="comparePassword">
                  <div class="invalid-feedback">
                    <% if (locals.messages.errors && messages.errors[0].passwordConfirmation) { %>
                    <p>
                      <% messages.errors[0].passwordConfirmation.forEach((error) => { %>
                      <%= error %>
                      <br>
                      <% }) %>
                    </p>
                    <% } else { %>
                    Les mots de passe ne sont pas les mêmes.
                    <% } %>
                  </div>
              </div>
            </div>

            <div class="form-group row">
              <label class="col-lg-2 col-lg-form-label" for="confirm-2FAuthentication">Code TOTP</label>
              <div class="col-lg-10">
                <input id="_totp" type="text" required
                  class="form-control <%= locals.messages.errors && messages.errors[0]._totp && 'is-invalid' %>"
                  name="_totp" pattern="^[0-9]{6}$">
                <% if (locals.messages.errors && messages.errors[0]._totp) { %>
                <div class="invalid-feedback">
                  <% messages.errors[0]._totp.forEach((error) => { %>
                  <p><%= error %></p>
                  <% }) %>
                </div>
                <% } %>
              </div>
            </div>

            <div class="col my-4 text-center">
              <button type="submit" class="btn btn-primary">Mettre à jour mon mot de passe</button>
            </div>
          </form>

        </div>
      </div>
    </div>
  </div>
</body>
</html>
