<div id="result" class="col-md-6 col-sm-12" >
    <h3>Résultat du redressement RNIPP</h3>
    <div class="scrollbox-container my-3">
      <div class="scrollbox-wrapper">
        <div class="accordion" id="results-accordion">
          <%
          const hasValidIdentity = locals.searchResults
            .some(({ rnippResponse }) => ~~rnippResponse.code < locals.rectifyResponseCodes.error);

          locals.searchResults
            .filter(({ rnippResponse }) => {
              const isValidIdentity = ~~rnippResponse.code < locals.rectifyResponseCodes.error;
              if (!hasValidIdentity) {
                return true;
              }
              return hasValidIdentity && isValidIdentity;
            })
            .forEach( ({ person, rnippResponse }, index) => {
          %>
          <!-- ACCORDION PERSON CARD-->
          <div id="person-<%= index %>" class="card">
            <!-- card header-->
            <div class="card-header" id="accordion-card-heading-<%= index %>">
              <button
                type="button"
                class="btn btn-block text-left  <%= locals.searchResults.length > 1 ? 'collapsed' : '' %>"
                aria-expanded="<%= locals.searchResults.length > 1 ? false : true -%>"
                data-toggle="collapse"
                data-target="#collapse-<%= index %>"
                aria-controls="collapse-<%= index %>"
              >
              <%
              const {
                gender,
                givenName,
                familyName,
                preferredUsername,
                birthdate,
                birthPlace,
                birthCountry
              } = person.rectifiedIdentity;
              %>

              <% if (rnippResponse.code) {
                let codeColor = ~~rnippResponse.code === locals.rectifyResponseCodes.found
                  ? 'success'
                  : undefined;
                if (!codeColor) {
                  codeColor = ~~rnippResponse.code === locals.rectifyResponseCodes.rectified
                    ? 'warning'
                    : 'danger';
                }
                %>
                Code RNIPP : <strong class="text-<%= codeColor %>" data-testid="rnipp-code"><%= rnippResponse.code %></strong>&nbsp;-&nbsp;
              <% } %>

              <%
              const COG_FRANCE = '99100';
              const cog = birthCountry === COG_FRANCE && birthPlace
                ? birthPlace
                : birthCountry;
              %>
              <% if (cog) { %>
                COG : <strong><%= cog %></strong>&nbsp;-&nbsp;
              <% } %>

              <%
              const displayName = `${givenName ? `${givenName} ` : '' }${familyName ? familyName : ''}`;
              %>
              <%= displayName %>
              </button>
            </div>
            <!-- ENDOF card header-->
            <div
              id="collapse-<%= index %>"
              class="collapse <%= locals.searchResults.length > 1 ? '' : 'show' %>"
              aria-labelledby="heading"
              data-parent="#results-accordion"
            >
            <!-- card body-->
            <div class="card-body">
              <% if (person.dead) { %>
              <div class="mb-2">
                <div id="dead" class="alert alert-dark" role="alert">
                  <% if (gender === 'female') { %>
                  <p>L'utilisatrice est déclarée décédée. Aucune autre information n'est disponible.</p>
                  <% } else { %>
                    <p>L'utilisateur est déclaré décédé. Aucune autre information n'est disponible.</p>
                  <% } %>
                </div>
              </div>
              <% } %>

              <div class="mb-2">
                <div class="label">Numéro de ticket support</div>
                <div class="font-weight-bold">
                  <%= locals.supportId || '' %>
                </div>
              </div>

              <div class="mb-2">
                <div class="label">Genre</div>
                <% if (gender === 'male') { %>
                  <div class="font-weight-bold">
                    Masculin
                  </div>
                <% } %>
                <% if (gender === 'female') { %>
                  <div class="font-weight-bold">
                    Féminin
                  </div>
                <% } %>
              </div>

              <div class="mb-2">
                <div class="label">Nom</div>
                <div class="font-weight-bold">
                  <%= familyName || '' %>
                </div>
              </div>

              <div class="mb-2">
                <div class="label">Nom d'usage</div>
                <div class="font-weight-bold">
                  <%= preferredUsername || '' %>
                </div>
              </div>

              <div class="mb-2">
                <div class="label">Prénoms</div>
                <div class="font-weight-bold">
                  <%= givenName || '' %>
                </div>
              </div>

              <div class="mb-2">
                <div class="label">Date de naissance</div>
                <div class="font-weight-bold">
                  <%= birthdate || '' %>
                </div>
              </div>

              <div class="mb-2">
                <div class="label">COG du lieu de naissance</div>
                <div class="font-weight-bold">
                  <%= birthPlace || '' %>
                </div>
              </div>

              <div class="mb-2">
                <div class="label">COG du pays de naissance</div>
                <div class="font-weight-bold">
                  <%= birthCountry || '' %>
                </div>
              </div>
              <hr/>

              <div class="mb-2">
                <%-
                include('partials/rnippRawResponse.ejs', {
                  rnippCode: rnippResponse.code,
                  rnippRawResponse: rnippResponse.raw,
                  index,
                });
                -%>
              </div>

              <h3>Statut de l'usager</h3>
              <div id="citizen-status-<%= index %>"></div>

              <% if (locals.instanceService.isCl()) { %>
              <h3>Préférences FI</h3>
              <div id="citizen-idp-preferences-<%= index %>"></div>
              <% } %>

            </div>
            <!-- ENDOF card body-->
            </div>
          </div>
          <!-- ENDOF ACCORDION PERSON CARD-->
          <% }) %>
        </div>
      </div>
    </div>
</div>
