<nav class="navbar navbar-light navbar-expand-lg col-12 shadow-sm">
  <div class="container">
    <a href="/" class="navbar-brand logo">
      <img src="/images/FClogo.png">
      Support
    </a>
    <div class="collapse navbar-collapse d-flex justify-content-end">
      <div class="dropdown">
        <a class="dropdown-toggle mr-2" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
            aria-expanded="false"><i class="fa fa-git-square"></i></a>
        <div class="dropdown-menu dropdown-menu-right p-3 text-muted meta-information-container">
          <div class="meta-information">
            <i>Environnement : <%= APP_ENVIRONMENT %></i>
          </div>
          <div class="meta-information">
            <i>Branche : <%= GIT_CURRENT_BRANCH %></i>
          </div>
          <div class="meta-information">
            <i>Commit : <a
                href="<%= COMMIT_URL_PREFIX + GIT_LATEST_COMMIT_LONG_HASH %>"><%= GIT_LATEST_COMMIT_SHORT_HASH %></a></i>
          </div>
        </div>
      </div>
      <div class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
            aria-expanded="false"><%= CURRENT_USER.username %></a>
        <div class="dropdown-menu dropdown-menu-right">
          <a class="dropdown-item" href="/logout">Déconnexion</a>
        </div>
      </div>
    </div>

  </div>
</nav>
