<!DOCTYPE html>
<html lang="fr">
<head>
    <%- include('partials/head.ejs') -%>
</head>
<body class="d-flex align-items-center justify-content-center">
<%- include('partials/border.ejs') -%>

<div class="container-fluid">
  <form class="login-form" method="POST" novalidate>
    <h2 class="login-form-heading"><img src="<%= APP_ROOT %>/images/FClogo.png" alt=""></h2>
    <% if (messages.error) {%>
      <div class="alert alert-danger">
        <%= messages.error %>
      </div>
    <% } %>
    <%- include('partials/global-errors-handler.ejs') -%>
    <input type="hidden" name="_csrf" value="<%= locals.csrfToken  %>">
    <label for="username" class="sr-only">Username</label>
    <input type="text" name="username" class="form-control" placeholder="Username" required autofocus="">
    <label for="password" class="sr-only">Password</label>
    <input type="password" name="password" class="form-control" placeholder="Password" required>
    <% if (showTotpField) {%>
    <label class="form-label" for="_totp">Code TOTP</label>
    <input id="_totp" type="text" required value="" placeholder="123456"
      class="form-control <%= locals.messages.errors && messages.errors[0]._totp && 'is-invalid' %>"
      name="_totp">
    <% } %>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Valider</button>
  </form>
</div>
</body>
</html>
