<!DOCTYPE html>
<html lang="fr">
<head>
  <% include partials/head.ejs %>
</head>
<body>
  <% include partials/header.ejs %>
  <section class="mt-5">
    <div class="container-fluid">
      <div class="row">
        <div class="alert alert-danger col-sm-12">
          <p> Cette fonctionnalité de vérification de l’identité pivot d'un usager
            utilise des données à caractère personnel, protégées par la loi n°78-17 du
            6 janvier 1978 relative à l'informatique, aux fichiers et aux libertés,
            modifiée par la loi n°2004-801 du 6 août 2004 relative à la protection des
            personnes physiques à l'égard des traitements de données à caractère personnel.</p>
        </div>
        <div class="col-md-6 col-sm-12">
          <% if (locals.message) { %>
            <div id="message" class="alert alert-danger" role="alert">
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">×</span>
                  <span class="sr-only">Fermer</span>
              </button>
              <%=message%><br>
              <% if (locals.rawResponse) { %>
              <%- include('partials/rnippRawResponse.ejs', {rnippCode: rnippCode, rnippRawResponse: rawResponse}); -%>
              <% } %>
            </div>
          <% } %>
          <h3>Rechercher un usager</h3>
          <form class="custom-validation" id="rnipp-form" name="rnipp-form" method="POST" action="<%= APP_ROOT %>/research" data-init="validateRnippForm" novalidate>
            <div class="card my-3">
              <div class="card-body">
                <div class="form-group">
                  <label for="support-id" class="control-label">Numéro de ticket support</label>
                  <input
                    type="text"
                    class="form-control"
                    id="support-id"
                    name="supportId"
                    value="<%= locals.supportId || '' %>"
                    pattern="^[0-9]{16}$"
                    required
                  >
                  <div class="invalid-feedback">
                    Veuillez renseigner un numéro de ticket valide (16 chiffres)
                  </div>
                </div>
              </div>
            </div>
            <div class="card my-3">
              <div class="card-body">
                <div class="form-group">
                  <label for="gender" class="control-label">Genre</label>
                  <br />
                  <div class="custom-control custom-radio custom-control-inline">
                    <input
                      type="radio"
                      class="custom-control-input"
                      id="female"
                      name="gender"
                      value="female"
                      required
                      <% if(locals.person && locals.person.requestedIdentity.gender === 'female'){ %> checked <%} %>
                    >
                    <label class="custom-control-label" for="female">Féminin</label>
                  </div>
                  <div class="custom-control custom-radio custom-control-inline">
                    <input
                      type="radio"
                      class="custom-control-input"
                      id="male"
                      name="gender"
                      value="male"
                      required
                      <% if(locals.person && locals.person.requestedIdentity.gender === 'male'){ %> checked <%} %>
                    >
                    <label class="custom-control-label" for="male">Masculin</label>
                    <div class="invalid-feedback" style="margin: 0.15rem 0 0 1rem">
                      Vous devez choisir un genre
                    </div>
                  </div>
                </div>

                <div class="form-group">
                  <label for="family-name" class="control-label">Nom</label>
                  <input
                    type="text"
                    class="form-control"
                    id="family-name"
                    name="familyName"
                    value="<%= (locals.person && locals.person.requestedIdentity.familyName) ? locals.person.requestedIdentity.familyName : '' %>"
                    pattern="<%= VALID_INPUT_STRING_REGEX %>"
                    required
                  >
                  <div class="invalid-feedback">
                    Veuillez renseigner un nom de famille
                  </div>
                </div>
                <div class="form-group">
                  <label for="preferred-username" class="control-label">Nom d'usage ( _Champ expérimental - Ne pas utiliser pour le support_)</label>
                  <input
                    type="text"
                    class="form-control"
                    id="preferred-username"
                    name="preferredUsername"
                    value="<%= (locals.person && locals.person.requestedIdentity.preferredUsername) ? locals.person.requestedIdentity.preferredUsername : '' %>"
                    pattern="<%= VALID_INPUT_STRING_REGEX %>"
                  >
                  <div class="invalid-feedback">
                    Veuillez renseigner un nom d'usage
                  </div>
                </div>
                <div class="form-group">
                  <label for="given-name" class="control-label">Prénoms (séparés par des espaces)</label>
                  <input
                    type="text"
                    class="form-control"
                    id="given-name"
                    name="givenName"
                    placeholder="exemple : Jean Michel Pierre Marie"
                    value="<%= (locals.person && locals.person.requestedIdentity.givenName) ? locals.person.requestedIdentity.givenName : '' %>"
                    pattern="<%= VALID_INPUT_STRING_REGEX %>"
                    required
                  >
                  <div class="invalid-feedback">
                    Veuillez renseigner un prénom ou vos prénoms
                  </div>
                </div>
                <div class="form-group">
                  <label for="birthdate" class="control-label">Date de naissance (format YYYY-mm-dd)</label>
                  <div class="input-group">
                    <input
                      type="text"
                      class="form-control"
                      id="birthdate"
                      name="birthdate"
                      placeholder="exemple : 1987-02-21"
                      value="<%= (locals.person && locals.person.requestedIdentity.birthdate) ? locals.person.requestedIdentity.birthdate : '' %>"
                      required
                      autocomplete="off"
                      pattern="^\d{4}-\d{2}-\d{2}$"
                    >
                    <div class="invalid-feedback">
                      Veuillez renseigner une date au format YYY-mm-dd
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label for="birthCountry" class="control-label">Né(e) en france</label>
                  <br />
                  <div class="custom-control custom-radio custom-control-inline">
                    <input
                      type="radio"
                      class="custom-control-input"
                      id="french"
                      name="isFrench"
                      value="true"
                      required
                      <% if (!locals.person || locals.person.requestedIdentity.birthCountry === '99100'){ %> checked <%} %>
                    >
                    <label class="custom-control-label" for="french">Oui</label>
                  </div>
                  <div class="custom-control custom-radio custom-control-inline">
                    <input
                      type="radio"
                      class="custom-control-input"
                      id="no-french"
                      name="isFrench"
                      value="false"
                      required
                      <% if (locals.person && locals.person.requestedIdentity.birthCountry !== '99100'){ %> checked <%} %>
                    >
                    <label class="custom-control-label" for="no-french">Non</label>
                  </div>
                </div>
                <div class="form-group">
                  <label for="cog" class="control-label">Code lieu de naissance (commune ou pays)</label>
                  <input
                    type="text"
                    class="form-control"
                    id="cog"
                    name="cog"
                    placeholder="exemple : 92012 pour Boulogne-Billancourt"
                    value="<%= locals.person
                      ? locals.person.requestedIdentity.birthPlace || locals.person.requestedIdentity.birthCountry
                      : '' %>"
                    pattern="[0-9]{5}"
                    title="Vous devez renseigner 5 nombres"
                    required
                  >
                  <div class="invalid-feedback">
                    Veuillez renseigner le COG du lieu de naissance
                  </div>
                </div>
                <div class="form-group text-center">
                    <button id="btn-research" type="submit" class="btn btn-primary">Rechercher</button>
                </div>
              </div>
            </div>
            <input type="hidden" name="_csrf" value="<%= locals.csrfToken  %>">
          </form>
        </div>
        <div id="result" class="col-md-6 col-sm-12" >
          <% if (locals.person && locals.person.rectifiedIdentity) { %>
            <h3>Résultat du redressement RNIPP</h3>
            <% if (locals.person && locals.person.dead) { %>
              <div id="dead" class="alert alert-dark" role="alert">
                <% if (locals.person.rectifiedIdentity.gender === 'female') { %>
                <p>L'utilisatrice est déclarée décédée. Aucune autre information n'est disponible.</p>
                <% } else { %>
                  <p>L'utilisateur est déclaré décédé. Aucune autre information n'est disponible.</p>
                <% } %>
              </div>
            <% } %>
            <div class="card my-3">
              <div class="card-body">
                <div class="mb-2">
                  <div class="label">Numéro de ticket support</div>
                  <div class="font-weight-bold">
                    <%= locals.supportId || '' %>
                  </div>
                </div>
                <div class="mb-2">
                  <div class="label">Genre</div>
                  <% if (locals.person.rectifiedIdentity.gender === 'male') { %>
                    <div class="font-weight-bold">
                      Masculin
                    </div>
                  <% } %>
                  <% if (locals.person.rectifiedIdentity.gender === 'female') { %>
                    <div class="font-weight-bold">
                      Féminin
                    </div>
                  <% } %>
                </div>
                <div class="mb-2">
                  <div class="label">Nom</div>
                  <div class="font-weight-bold">
                    <%= locals.person.rectifiedIdentity.familyName || '' %>
                  </div>
                </div>
                <div class="mb-2">
                  <div class="label">Nom d'usage</div>
                  <div class="font-weight-bold">
                    <%= locals.person.rectifiedIdentity.preferredUsername || '' %>
                  </div>
                </div>
                <div class="mb-2">
                  <div class="label">Prénoms</div>
                  <div class="font-weight-bold">
                    <%= locals.person.rectifiedIdentity.givenName || '' %>
                  </div>
                </div>
                <div class="mb-2">
                  <div class="label">Date de naissance</div>
                  <div class="font-weight-bold">
                    <%= locals.person.rectifiedIdentity.birthdate || '' %>
                  </div>
                </div>
                <div class="mb-2">
                  <div class="label">COG du lieu de naissance</div>
                  <div class="font-weight-bold">
                    <%= locals.person.rectifiedIdentity.birthPlace || '' %>
                  </div>
                </div>
                <div class="mb-2">
                  <div class="label">COG du pays de naissance</div>
                  <div class="font-weight-bold">
                    <%= locals.person.rectifiedIdentity.birthCountry || '' %>
                  </div>
                </div>
                <hr/>
                <div class="mb-2">
                  <%- include('partials/rnippRawResponse.ejs', {rnippCode: rnippResponse.code, rnippRawResponse: rnippResponse.raw}); -%>
                </div>
              </div>
            </div>
          <% } %>
        </div>
      </div>
    </div>
    <%/** Make RNIPP response data easily available for ajax requests (fc-exploitation) */%>
    <% if (locals.person) { %>
    <script type="text/javascript">
      const __RNIPP_DATA__ = <%- locals.person.rectifiedIdentity ? JSON.stringify(locals.person.rectifiedIdentity) : 'undefined' %>;
      const __SUPPORT_ID__ = "<%= locals.supportId || '' %>";
    </script>
    <% } %>
  </section>
<% include partials/footer.ejs %>
