<%
function itemIsChecked(name, value) {
  if (!params || (!params[name] && !params[name.replace('[]', '')])) {
    return false;
  }

  if (locals.valueType === 'composed') {
    return params[name.replace('[]', '')].find(item => {
      const seekValue = (name === key) ? item : `${item.key}:${item.value}`;
      return seekValue === value
    })
  }

  return params[name] === value;
}

function getCurrentValue() {
  if (typeof params[name] !== 'undefined' && type === 'unique') {
    return [params[name]];
  }

  if (typeof params[name.replace('[]', '')] !== 'undefined' && name === key) {
    return params[name.replace('[]', '')];
  }

  if (typeof params[name.replace('[]', '')] !== 'undefined') {
    return params[name.replace('[]', '')]
      .filter(item => item.key === key)
      .map(item => item.value);
  }

  return [];
}

let inputType = "checkbox";

if (type === "unique") {
    inputType = "radio";
}

const currentValue = getCurrentValue();

%>

<div id="<%= key %>-dropdown" class="dropdown m-1">
  <button class="btn btn-<%= locals.className || 'secondary' %> btn-sm dropdown-toggle"
    data-init="dropdown"
    type="button" id="dropdownMenuButton"
    data-toggle="dropdown"
    aria-haspopup="true"
    aria-expanded="false">
    <%= label %>
    <% if (currentValue.length > 0 && !locals.mandatory) { %>
      <span class="badge badge-light" title="<%= currentValue.join('\n') %>"><%= currentValue.length %></span>
    <% } %>
  </button>

  <div class="dropdown-menu p-3" aria-labelledby="dropdownMenuButton">

    <% if (type === 'unique' && !locals.mandatory) { %>

      <div class="custom-control custom-<%= inputType %> my-1 mr-sm-2">
        <input
          class="custom-control-input"
          type="<%= inputType %>"
          id="<%= name + ':reset' %>"
          data-init="filters"
          value=""
          name="<%= name %>"
          data-form="search"
          <% if (!params[name]) { %>
          checked
          <% } %>
        >
        <label
          class="custom-control-label justify-content-start"
          for="<%= name + ':reset'%>"><i> - aucun - </i></label>
      </div>

    <% } %>
    <% values.forEach(function(item){ %>
      <div class="dropdown-item custom-control custom-<%= inputType %> my-1 mr-sm-2 text-nowrap">
        <input
          class="custom-control-input"
          type="<%= inputType %>"
          id="<%= name + item.value %>"
          data-init="filters"
          value="<%= item.value %>"
          name="<%= name %>"
          data-form="search"
          <% if (itemIsChecked(name, item.value)) { %>
          checked
          <% } %>
        >
        <label
          class="custom-control-label justify-content-start"
          for="<%= name + item.value %>">
          <%= locals.mapping ? locals.helpers.getMapped(locals.mapping, item.key) : item.key %>
        </label>
      </div>
    <% }) %>
  </div>
</div>
