<!DOCTYPE html>
<html lang="fr">
<head>
    <% include partials/head.ejs %>
</head>
<body>
<div class="container">
    <% include partials/header.ejs %>
    <div class="row">
        <div class="col-12">
            <p class="h2">Stats</p>
            <p><i>Mesure All the things!</i></p>
            <div>
              <form id="search" action="<%= APP_ROOT %>/stats" method="get">

                <div class="form-inline">

                  <div class="form-group form-inline col-md-3">

                      <label class="p-1" for="start">Du</label>
                      <input
                        id="start"
                        name="start"
                        type="text"
                        data-init="datePicker"
                        data-secondField="stop"
                        data-form="search"
                        class="form-control form-control-sm mb-1"
                        value="<%= REQ_QUERY.start %>"
                        style="width: 90px;"
                        >

                      <label class="p-1" for="stop">Au</label>
                      <input
                        id="stop"
                        name="stop"
                        type="text"
                        value="<%= REQ_QUERY.stop %>"
                        class="form-control  form-control-sm mb-1"
                        style="width: 90px;"
                      />
                  </div>

                    <div class="form-group col-md-7">
                    <% if (locals.meta) { %>
                      <%- include('partials/dropdown', { label: 'FI', key: 'fi', values: locals.meta.fiList }) %>
                      <%- include('partials/dropdown', { label: 'FS', key: 'fs', values: locals.meta.fsList }) %>
                      <%- include('partials/dropdown', { label: 'Type Action', key: 'typeAction', values: locals.meta.typeActionList }) %>
                      <%- include('partials/dropdown', { label: 'Action', key: 'action', values: locals.meta.actionList }) %>
                    <% } %>

                      <button type="submit" id="bouton-filtrer" class="btn btn-sm btn-primary m-1">Filtrer</button>
                      <a class="" href="<%= APP_ROOT %>/stats" title="Réinitialiser"><i class="fa fa-undo"></i></a>
                      <% if (locals.meta) { %>
                        &nbsp; <%= meta.total %> résultat(s)
                      <% } %>
                    </div>


                    <% if (locals.stats && stats.length > 0) { %>
                    <div class="col-md-2">
                      <a class="btn btn-sm btn-outline-info" href="<%= APP_ROOT %>/stats/csv?<%= queryString.stringify(REQ_QUERY) %>">
                        <i class="fa fa-file-excel-o"></i> Export CSV
                      </a>
                    </div>
                  <% } %>
                </div>
              </form>
            </div>

            <% if (!REQ_QUERY.start || !REQ_QUERY.stop) { %>
            <div class="d-flex justify-content-center">
              <h2>Choisissez des dates</h2>
            </div>
            <% } else { %>


              <table class="table table-hover table-light shadow-sm">
                <thead class="thead-light">
                  <tr>
                    <th scope="col">Date</th>
                    <th scope="col">FI</th>
                    <th scope="col">FS</th>
                    <th scope="col">Type d'action</th>
                    <th scope="col">Action</th>
                    <% if (!REQ_QUERY.filters) { %>
                    <th scope="col">Compteur</th>
                    <% } %>
                  </tr>
                </thead>
                <tbody>
                  <% stats.forEach(function(stat){ %>
                    <tr>
                      <th scope="row"><%= moment(stat.date).format('DD/MM/YYYY') %></th>
                      <td><%= stat.fi %></td>
                      <td><%= stat.fs %></td>
                      <td><%= locals.helpers.getMapped(stat.typeAction) %></td>
                      <td><%= locals.helpers.getMapped(stat.action) %></td>
                      <% if (!REQ_QUERY.filters) { %>
                      <td><%= stat.count %></td>
                      <% } %>
                    </tr>
                    <% }) %>
                  </tbody>
                </table>
            <% } %>
        </div>
    </div>
</div>
</body>
</html>
